.nav-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

.container{
    display: grid;
    justify-items: center;
}

li{
    list-style: none;
}